<html>
  <head>
  <style>
  table, tr, th, td {
    border: solid black 2px;
  }
  </style>
  </head>
  <body>
    <div>
      Key: {{ model_dict.keys() }}
    </div>

    <div>
      to_json Test: {{ { "k": "v"} | to_json }}
      TestFilter Test: "{{ "test" | test_filter }}"

    </div>

</body>
</html>