<script setup lang="ts">
// import axios from 'axios'
import { ref, onMounted, computed } from 'vue'
import type { Ref } from 'vue'
import { getNodesByID, getAssetPath, build_model } from '../utils'
import type { IntArchiModel } from '../type_interfaces'
import ElementNode from '../components/ElementNode.vue'
// import SimpleNode from '../components/SimpleNode.vue'
// import SimpleLink from '../components/SimpleLink.vue'
// import SimpleProfile from '../components/SimpleProfile.vue'

const model: Ref<IntArchiModel> = ref({
  profiles: [],
  nodes: [],
  links: []
})

const props = defineProps<{
  id: string
}>()

console.log('data_url', import.meta.env.DATA_URL)
// console.log(process.env.DATA_URL);
console.log('import.meta.env', import.meta.env)
// console.log(`process.env`, process.env);
// console.log(`__APP_VERSION__: ${__APP_VERSION__}`);

// console.log("App", app );
console.log('Element Path', getAssetPath())

const data_url = getAssetPath() + '/data.json'

// function getData(event: Event) {
//   console.log(`Getdate Button Cicked`, event);
//   axios
//     .get(data_url)
//     .then(function (response) {
//       // handle success
//       console.log('Axios response', response);
//       let new_model = build_model(response.data);
//       model.value = new_model;
//     })
//     .catch(function (error) {
//       // handle error
//       console.log(error);
//     })
//     .finally(function () {
//       // always executed
//     })
// }

onMounted(async () => {
  console.log(`Dataurl`, data_url)
  const response = await fetch(data_url)
  console.log('Response', response)
  const file = await response.json()
  console.log('Fetched file', file)
  let new_model = build_model(file)
  model.value = new_model
})

const current_id = computed(() => {
  try {
    let def_id
    if (model.value.nodes.length > 0) {
      const randomIndex = Math.floor(Math.random() * model.value.nodes.length)
      def_id = model.value.nodes[randomIndex].id
    } else {
      def_id = 'id-d1cdba14bcb74c75ba0f67490ce52a12'
    }
    const id = props.id || def_id
    console.log(`ID: ${id}`)
    // if (id == '') {
    //   return model.nodes[0].id;
    // }
    return id
  } catch (error) {
    console.error('Error', error)
    // return `Error: ${error}`;
    return ''
  }
})

const nodes = computed(() => {
  try {
    // console.log(`get a node id`, current_id)
    const found_nodes = getNodesByID(`${current_id.value}`, model.value.nodes)
    console.log(`get a node id`, current_id, model.value.nodes, found_nodes)
    return found_nodes
  } catch (error) {
    console.error('Error', error)
    // return `Error: ${error}`;
    return []
  }
})
</script>

<template>
  <main>
    Elements Will Go Here '{{ current_id }}'

    <!-- <button v-on:click="getData">Get Local Data</button> -->
    <div>
      <h3>Nodes</h3>
      <div class="element-grid" style="border: solid 2px #fff">
        <div class="element-cell" v-bind:key="ele.id" v-for="ele in nodes">
          <ElementNode v-bind:node="ele" v-bind:model="model" />
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
h3 {
  font-size: 40px;
}

.element-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: 100px; */
  gap: 1.5rem;
}

.element-cell {
  box-sizing: border-box;
  grid-column: auto/span 12;
}
</style>
