<script setup lang="ts">
// import axios from 'axios'
import { ref, computed, onMounted } from 'vue'
import type { Ref } from 'vue'
import { getAssetPath } from '../utils'
import type { IntArchiModel, IntNode } from '../type_interfaces'
import SimpleNode from '../components/SimpleNode.vue'
import SimpleLink from '../components/SimpleLink.vue'
import SimpleProfile from '../components/SimpleProfile.vue'

import { useModelStore } from '@/stores/model'

const modelStore = useModelStore()

const model: Ref<IntArchiModel> = ref({
  profiles: [],
  nodes: [],
  links: []
})

const search_text: Ref<string> = ref('')
const found_nodes: Ref<IntNode[]> = ref([])

console.log('data_url', import.meta.env.DATA_URL)
// console.log(process.env.DATA_URL);
console.log('env', import.meta.env)
// console.log(`NODE_ENV: ${process.env.NODE_ENV}`);
// console.log(`__APP_VERSION__: ${__APP_VERSION__}`);

// console.log("App", app );
console.log('Element Path', getAssetPath())

const data_url = getAssetPath() + '/data.json'

// function getData(event: Event) {
//   console.log(`Getdate Button Cicked`, event);
//   axios
//     .get(data_url)
//     .then(function (response) {
//       // handle success
//       console.log('Axios response', response);
//       let new_model = build_model(response.data);
//       model.value = new_model;
//     })
//     .catch(function (error) {
//       // handle error
//       console.log(error);
//     })
//     .finally(function () {
//       // always executed
//     })
// }

function searchbutton(event: Event) {
  console.log(`Searching`, search_term.value, event)
  search_node(search_term.value)
}

function search_node(search_term_str: string) {
  let nodes = modelStore.get_nodes.value
  found_nodes.value = []
  for (let node_ind in nodes) {
    let node: IntNode = nodes[node_ind]
    const name = node.name.toLowerCase()
    if (search_term_str == '' || name.search(search_term_str) >= 0) {
      found_nodes.value.push(node)
    }
  }
  console.log('Find nodes', found_nodes.value, found_nodes.value.length)
}

function build_model(data_model: any) {
  let new_model: IntArchiModel = {
    nodes: data_model.nodes.map((node: IntNode) => {
      let new_node = node //getlinks(node, data_model.links);
      return new_node
    }),
    links: data_model.links,
    profiles: data_model.profiles
  }
  return new_model
}

// function getlinks(node: IntNode, links: [IntLink]) {
//   let links_in: IntLink[] = []
//   let links_out: IntLink[] = []
//   for (let link_ind: integer in links) {
//     let link: IntLink = links[link_ind];

//     if (link.target == node.id) {
//       // console.log(`Found target`, link);
//       links_in.push(link)
//     }
//     if (link.source == node.id) {
//       // console.log(`Found source`, link);
//       links_out.push(link)
//     }
//   }
//   node.links_in = links_in
//   node.links_out = links_out
//   return node
// }

const search_term = computed(() => {
  return search_text.value.toLowerCase()
})

onMounted(async () => {
  const response = await fetch(data_url)
  const file = await response.json()
  console.log('Fetched file', file)
  let new_model = build_model(file)
  model.value = new_model

  modelStore.set_model(new_model)

  const search_term = search_text.value.toLowerCase()
  search_node(`${search_term}`)
})
</script>

<template>
  <main>
    Search:
    <input :value="search_text" @input="(event: any) => (search_text = event.target.value)" />
    <button v-on:click="searchbutton">Search</button>
    <div>
      <h3>Nodes</h3>
      <div class="element-grid" style="border: solid 2px #fff">
        <div class="element-cell" v-bind:key="ele.id" v-for="ele in found_nodes">
          <SimpleNode v-bind:node="ele" v-bind:model="model" />
        </div>
      </div>
    </div>
    <div>
      <h3>Links</h3>
      <div class="element-grid" style="border: solid 2px #fff">
        <div class="element-cell" v-bind:key="ele.id" v-for="ele in model.links">
          <SimpleLink v-bind:link="ele" />
        </div>
      </div>
    </div>
    <div>
      <h3>Profiles</h3>
      <div class="element-grid" style="border: solid 2px #fff">
        <div class="element-cell" v-bind:key="ele.id" v-for="ele in model.profiles">
          <SimpleProfile v-bind:profile="ele" />
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
h3 {
  font-size: 40px;
}

.element-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: 100px; */
  gap: 1.5rem;
}

.element-cell {
  box-sizing: border-box;
  grid-column: auto/span 12;
}
</style>
