<script setup lang="ts">
import { ref, onMounted, onUpdated, onBeforeUpdate, computed } from 'vue'
import type { Ref } from 'vue'
import type { IntArchiModel, IntNode, IntLink, IntProfile } from '../type_interfaces'
import { getNodesByID, getNodeLinks } from '../utils'

const props = defineProps<{
  node: IntNode
  model: IntArchiModel
  // links: any
  // profiles: any
}>()

const BASE_URL = import.meta.env.BASE_URL
const links_in: Ref<IntLink[]> = ref([])
const links_out: Ref<IntLink[]> = ref([])

onUpdated(async () => {
  // console.log('Update', props)
})
onBeforeUpdate(async () => {
  // console.log('Before Update', props)
})
onMounted(async () => {
  // const response = await fetch('/data.json')
  // const file = await response.json()
  // console.log('node', node);
  // console.log('Mounted', props)
  let links = getNodeLinks(props.node, props.model.links)
  links_in.value = links.in
  links_out.value = links.out
})

// const links_in_exists = computed(() => {
//   try {
//     return props.node.links_in.length > 0;
//   } catch (error) {
//       console.error("Error", error, props.node.links_in);
//       return `Error: ${error}`;
//   }
// })

function getnode(id: string, nodes: IntNode[]) {
  let found_nodes = getNodesByID(id, nodes)
  if (found_nodes.length > 0) {
    return found_nodes[0]
  }
  return { name: '' }
}

const specialisation = computed<{ name: string } | IntProfile>(() => {
  // return props.node.specialisation;
  try {
    for (let pro in props.model.profiles) {
      let profile = props.model.profiles[pro]
      // console.log('Profile', profile);
      if (profile.id == props.node.specialisation) {
        return profile
      }
    }
    return { name: props.node.type }
  } catch (error) {
    console.error('Error', error, props.node.specialisation)
    // return `Error: ${error}`;
    return { name: '' }
  }
})
</script>

<template>
  <div :id="node.id" class="card-node">
    <h1 class="green">Node: {{ node.name }}</h1>
    <div>
      <p>ID: {{ node.id }}</p>
      <p>Name: {{ node.name }}</p>
      <p>Type: {{ node.type }}</p>
      <p>Specialisation: {{ specialisation.name }}</p>
      <p>Documentation: {{ node.documentation }}</p>
      <div>
        <p>IN: {{ links_in.length }}</p>
        <p>OUT: {{ links_out.length }}</p>
      </div>
      <div>
        <div v-bind:key="link.id" v-for="link in links_in">
          <!-- <p>ID: {{ link.id }}</p> -->
          <!-- <p>Source: {{ link.source }} </p> -->
          <p>
            IN: {{ getnode(link.source, model.nodes).name }}
            <a v-bind:href="`${BASE_URL}element/${link.source}`">GO</a>
          </p>
          <!-- <p>Target: {{ link.target }} <a v-bind:href="`#${ link.target }`">GO</a></p> -->
        </div>
      </div>
      <div>
        <div v-bind:key="link.id" v-for="link in links_out">
          <!-- <p>ID: {{ link.id }}</p> -->
          <!-- <p>Source: {{ link.source }} <a v-bind:href="`#${ link.source }`">GO</a></p> -->
          <!-- <p>Target: {{ link.target }} </p> -->
          <p>
            OUT: {{ getnode(link.target, model.nodes).name }}
            <a v-bind:href="`${BASE_URL}element/${link.target}`">GO</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card-node {
  box-sizing: border-box;
  /* grid-column: auto/span 1; */
}

.card-node h1,
.card-node h3 {
  font-size: 1.2rem;
  /* text-align: center; */
}

@media (min-width: 1024px) {
  .card-node h1,
  .card-node h3 {
    text-align: left;
  }
}
</style>
