<script setup lang="ts">
import { onMounted } from 'vue'

defineProps<{
  profile: any
}>()

onMounted(async () => {
  // const response = await fetch('/data.json')
  // const file = await response.json()
  // console.log('cool file', file)
})
</script>

<template>
  <div class="card-profile">
    <h1 class="green">Profile: {{ profile.name }}</h1>
    <div>
      <p>ID: {{ profile.id }}</p>
      <p>Name: {{ profile.name }}</p>
      <p>Concept Type: {{ profile.concept_type }}</p>
      <p>Image Path: {{ profile.image_path }}</p>
    </div>
  </div>
</template>

<style scoped>
.card-profile {
  box-sizing: border-box;
  /* grid-column: auto/span 1; */
}

.card-profile h1,
.card-profile h3 {
  font-size: 1.2rem;
  /* text-align: center; */
}

@media (min-width: 1024px) {
  .card-profile h1,
  .card-profile h3 {
    text-align: left;
  }
}
</style>
