<script setup lang="ts">
import { onMounted } from 'vue'

defineProps<{
  link: any
}>()

onMounted(async () => {
  // const response = await fetch('/data.json')
  // const file = await response.json()
  // console.log('cool file', file)
})
</script>

<template>
  <div class="card-link">
    <h1 class="green">Link: {{ link.id }}</h1>
    <div>
      <p>ID: {{ link.id }}</p>
      <p>Name: {{ link.name }}</p>
      <p>Type: {{ link.type }}</p>
      <p>Source: {{ link.source }}</p>
      <p>Target: {{ link.target }}</p>
    </div>
  </div>
</template>

<style scoped>
.card-link {
  box-sizing: border-box;
  /* grid-column: auto/span 1; */
}

.card-link h1,
.card-link h3 {
  font-size: 1.2rem;
  /* text-align: center; */
}

@media (min-width: 1024px) {
  .card-link h1,
  .card-link h3 {
    text-align: left;
  }
}
</style>
