{
  "nodes": [
    {% for node in model_dict.nodes %}
    {
      "id": {{ node.ID | to_json }},
      "name": {{ node.Name | to_json }},
      "type": {{ node.Type | to_json }},
      "specialisation": {{ node.Specialization | to_json }},
      "properties": {{ node.Properties | to_json }},
      "folder": {{ node.Folder | to_json }},
      {# {% if (node.Documentation | default('')) | length > 0 -%}#}
      "documentation": {{ node.Documentation | to_json }}
      {#
      {% else -%}
      "documentation": null,
      {% endif -%}
      #}
    }{{ ',' if not loop.last else '' }}
    {% endfor %}
  ],
  "links": [
    {% for link in model_dict.links %}
    {
      "id": {{ link.ID | to_json }},
      "name": {{ link.Name | to_json}},
      "type": {{ link.Type | to_json }},
      "specialisation": {{ link.Specialization | to_json }},
      "source": {{ link.Source | to_json }},
      "target": {{ link.Target | to_json }},
      "properties": {{ link.Properties | to_json }},
      "folder": {{ link.Folder | to_json }},
      "documentation": {{ link.Documentation | to_json }}
    }{{ ',' if not loop.last else '' }}
    {% endfor %}
  ],
  "profiles": [
    {% for profile in model_dict.profiles %}
    {
      "id": {{ profile.ID | to_json }},
      "name": {{ profile.Name | to_json }},
      "concept_type": {{ profile.ConceptType | to_json }},
      "image_path": {{ profile.ImagePath | to_json }}
    }{{ ',' if not loop.last else '' }}
    {% endfor %}
  ]
}
