<html>
  <head>
  <style>
  table, tr, th, td {
    border: solid black 2px;
  }
  </style>
  </head>
  <body>
    <h2>Nodes Model</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Folder</th><th>Documentation</th><th>Relationships From</th><th>Relationships To</th></tr>
    {% for node in model.elements %}
    <tr>
      <td>{{ node.ID }}</td>
      <td>{{ node.Name }}</td>
      <td>{{ node.Type }}</td>
      <td>{{ node.Specialization }}</td>
      <td>{{ node.Properties }}</td>
      <td>{{ node.Folder }}</td>
      <td>{{ node.Documentation }}</td>
      <td>
        {% for rel in model.element_out_rels(node) -%}
          Rel: {{ rel.rel }}<br/>
          Node: {{ rel.node }}<br/>
          <hr/>
        {% endfor %}
      </td>
      <td>
        {% for rel in model.element_in_rels(node) -%}
          Rel: {{ rel.rel }}<br/>
          Node: {{ rel.node }}<br/>
          <hr/>
        {% endfor %}
      </td>
    </tr> 
    {% endfor %}
    </table>
    
    <hr/>

    <div>
      Key: {{ model_dict.keys() }}
    </div>

    <h2>Nodes</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Folder</th><th>Documentation</th><th>Relationships From</th><th>Relationships To</th></tr>
    {% for node in model_dict.nodes %}
    <tr>
      <td>{{ node.ID }}</td>
      <td>{{ node.Name }}</td>
      <td>{{ node.Type }}</td>
      <td>{{ node.Specialization }}</td>
      <td>{{ node.Properties }}</td>
      <td>{{ node.Folder }}</td>
      <td>{{ node.Documentation }}</td>
      <td>
        {% for rel in node.outrels -%}
          Rel: {{ rel.rel.Type }}<br/>
          Node: {{ rel.node.Name }}<br/>
          <hr/>
        {% endfor %}
      </td>
      <td>
        {% for rel in node.inrels -%}
          Rel: {{ rel.rel.Type }}<br/>
          Node: {{ rel.node.Name }}<br/>
          <hr/>
        {% endfor %}
      </td>
    </tr> 
    {% endfor %}
    </table>

{#
    <h2>Relationships</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Source</th><th>Target</th><th>Properties</th><th>Folder</th><th>Documentation</th></tr>
    {% for link in model_dict.links %}
    <tr>
      <td>{{ link.ID }}</td>
      <td>{{ link.Name }}</td>
      <td>{{ link.Type }}</td>
      <td>{{ link.Specialization }}</td>
      <td>{{ link.Source }}</td>
      <td>{{ link.Target }}</td>
      <td>{{ link.Properties }}</td>
      <td>{{ link.Folder }}</td>
      <td>{{ link.Documentation }}</td>
    </tr> 
    {% endfor %}
    </table>
#}
</body>
</html>