<html>
  <head>
  <!-- Get Bootstrap from CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <style>
    
  </style>
  </head>
  <body>
    <div class="container"></div>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <!-- <li class="nav-item"><a href="#" class="nav-link">Features</a></li> -->
          <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
        </ul>
      </header>
    </div>

    <div class="container-fluid">
      <h2>Nodes Model</h2>
      <table class="table table-bordered">
      <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Folder</th><th>Documentation</th><th>Relationships From</th><th>Relationships To</th></tr>
      {% for node in model.elements %}
      <tr>
        <td>{{ node.ID }}</td>
        <td>{{ node.Name }}</td>
        <td>{{ node.Type }}</td>
        <td>{% if node.Specialization is not none %}{{ node.Specialization }} -> {{ model.get_specialisation(node).Name }}{% else %} No Specialisation {% endif %}</td>
        <td>
          <ul>
            {% for prop in node.Properties %}
              <li>{{ prop.key }} - {{ prop.value }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ node.Folder | join('/') }}
          <!-- <ul>
            {% for prop in node.Folder %}
              <li>{{ prop }}</li>
            {% endfor %}
          </ul> -->
        </td>
        <td>{{ node.Documentation }}</td>
        <td>
          {% for rel in model.element_out_rels(node) -%}
            Rel: {{ rel.rel.Type }}<br/>
            Node: {{ rel.node.Name }}<br/>
            <hr/>
          {% endfor %}
        </td>
        <td>
          {% for rel in model.element_in_rels(node) -%}
            Rel: {{ rel.rel.Type }}<br/>
            Node: {{ rel.node.Name }}<br/>
            <hr/>
          {% endfor %}
        </td>
      </tr> 
      {% endfor %}
      </table>
    </div>

</body>
</html>