keys: {{ model_dict.keys() }}

Profiles:
{% for profile in model_dict.profiles %}
  # {{ profile.keys() }}
  - ID: {{ profile.ID }}
    Name: {{ profile.Name }}
    ConceptType: {{profile.ConceptType }}
    ImagePath: {{ profile.ImagePath }}
{% endfor %}

Views:
{% for view in model_dict.views %}
  # {{ view.keys() }}
  ID: {{ view.ID }}
  Name: {{ view.Name }}
  Type: {{view.Type }}
  Specialisation: {{ view.Specialization }}
  Properties: {{ view.Properties }}
  Folder: {{ view.Folder }}
  Children:
  {% for child_id in view.children %}
    # {{ view.children[child_id].keys() }}
    - ID: {{ view.children[child_id].ID }}
      Name: {{ view.children[child_id].Name }}
      X: {{ view.children[child_id].x }}
      Y: {{ view.children[child_id].y }}
      width: {{ view.children[child_id].width }}
      height: {{ view.children[child_id].height }}
      label: {{ view.children[child_id].label }}
      modelid: {{ view.children[child_id].modelid }}
      content: {{ view.children[child_id].content }}
      Type: {{view.children[child_id].Type }}
      Specialisation: {{ view.children[child_id].Specialization }}
      Properties: {{ view.children[child_id].Properties }}
      Connections: {{ view.children[child_id].connections }}
  {% endfor %}

  {{ view }}
{% endfor %}

Nodes:
{% for node in model_dict.nodes %}
  # {{ node.keys() }}
  - ID: {{ node.ID }}
    Name: {{ node.Name }}
    Type: {{node.Type }}
    Specialisation: {{ node.Specialization }}
    Properties: {{ node.Properties }}
    Folder: {{ node.Folder }}
    {% if node.Documentation | length > 0 -%}
    Documentation: |
      {{ node.Documentation | indent(4, first=false) }}
    {% else -%}
    Documentation:
    {% endif -%}
    {# - {{ node | to_yaml | indent(4, first=true) }} -#}
{% endfor %}

Relationships:
{% for link in model_dict.links %}
  # {{ link.keys() }}
  - ID: {{ link.ID }}
    Name: {{ link.Name }}
    Type: {{link.Type }}
    Specialisation: {{ link.Specialization }}
    Source: {{ link.Source }}
    Target: {{ link.Target }}
    Properties: {{ link.Properties }}
    Folder: {{ link.Folder }}
    {% if link.Documentation | length > 0 -%}
    Documentation: |
      {{ link.Documentation | indent(4, first=false) }}
    {% else -%}
    Documentation:
    {% endif -%}
    {# - {{ link | to_yaml | indent(4, first=true) }} -#}
{% endfor %}