<html>
  <head>
  <style>
  table, tr, th, td {
    border: solid black 2px;
  }
  </style>
  </head>
  <body>
    <div>
      Key: {{ model_dict.keys() }}
    </div>


    <h2>Profiles:</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>ConceptType</th><th>ImagePath</th></tr>
    {% for profile in model_dict.profiles %}
    <tr>
      <td>{{ profile.ID }}</td>
      <td>{{ profile.Name }}</td>
      <td>{{profile.ConceptType }}</td>
      <td>{{ profile.ImagePath }}</td>
    </tr>
    {% endfor %}
    </table>

    <h2>Nodes</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Folder</th><th>Documentation</th></tr>
    {% for node in model_dict.nodes %}
    <tr>
      <td>{{ node.ID }}</td>
      <td>{{ node.Name }}</td>
      <td>{{ node.Type }}</td>
      <td>{{ node.Specialization }}</td>
      <td>{{ node.Properties }}</td>
      <td>{{ node.Folder }}</td>
      <td>{{ node.Documentation }}</td>
    </tr> 
    {% endfor %}
    </table>

    <h2>Relationships</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Source</th><th>Target</th><th>Properties</th><th>Folder</th><th>Documentation</th></tr>
    {% for link in model_dict.links %}
    <tr>
      <td>{{ link.ID }}</td>
      <td>{{ link.Name }}</td>
      <td>{{ link.Type }}</td>
      <td>{{ link.Specialization }}</td>
      <td>{{ link.Source }}</td>
      <td>{{ link.Target }}</td>
      <td>{{ link.Properties }}</td>
      <td>{{ link.Folder }}</td>
      <td>{{ link.Documentation }}</td>
    </tr> 
    {% endfor %}
    </table>

    <h2>Views</h2>
    <table>
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Folder</th><th>Children</th></tr>
    {% for view in model_dict.views %}
    <tr>
      <td>{{ view.ID }}</td>
      <td>{{ view.Name }}</td>
      <td>{{view.Type }}</td>
      <td>{{ view.Specialization }}</td>
      <td>{{ view.Properties }}</td>
      <td>{{ view.Folder }}</td>
      <td>
        <table>
        <tr><th>ID</th><th>Name</th><th>Box</th><th>Label</th><th>Model ID</th><th>Content</th><th>Type</th><th>Specialisation</th><th>Properties</th><th>Connections</th></tr>
        {% for child_id in view.children %}
        <tr>
          <td>{{ view.children[child_id].ID }}</td>
          <td>{{ view.children[child_id].Name }}</td>
          <td>X: {{ view.children[child_id].x }},Y: {{ view.children[child_id].y }}, width: {{ view.children[child_id].width }}, height: {{ view.children[child_id].height }}</td>
          <td>{{ view.children[child_id].label }}</td>
          <td>{{ view.children[child_id].modelid }}</td>
          <td>{{ view.children[child_id].content }}</td>
          <td>{{view.children[child_id].Type }}</td>
          <td>{{ view.children[child_id].Specialization }}</td>
          <td>{{ view.children[child_id].Properties }}</td>
          <td>{{ view.children[child_id].connections }}</td>
        </tr>
        {% endfor %}
        </table>
      </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>