apiVersion: v1
kind: Service
metadata:
  name: "{{ explore_name }}-pg-svc"
  namespace: "{{ explore_namespace }}"
  labels:
    # app: "{{ explore_app_name }}"
    name: "{{ explore_name }}-pg-svc"
spec:
  ports:
    - port: 5432
  selector:
    name: "{{ explore_name }}-pg"
  clusterIP: None
---
apiVersion: v1
# Kind for volume chain
kind: PersistentVolume
metadata:
  # Name the persistent chain
  name: "{{ explore_name }}-pg-pv"
  namespace: "{{ explore_namespace }}"
  # Labels for identifying PV
  labels:
    type: local
    name: "{{ explore_name }}-pg-pv"
    # app: "{{ explore_app_name }}"
spec:
  storageClassName: manual
  capacity:
    # PV Storage capacity
    storage: 1Gi
  # A container can write and read from volumes to multiple pods
  accessModes:
    - ReadWriteMany
  # Specify the path to persistent the volumes  
  hostPath:
    path: "{{ deployment_data_path }}"
---
apiVersion: v1
# define a resource for volume chain
kind: PersistentVolumeClaim
metadata:
  # Name the volume chain
  name: "{{ explore_name }}-pg-pvc"
spec:
  storageClassName: manual
  accessModes:
    # Allow ReadWrite to multiple pods
    # - ReadWriteMany
    - ReadWriteOnce
  # PVC requesting resources
  resources:
    requests:
      # the PVC storage
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ explore_name }}-pg"
  namespace: "{{ explore_namespace }}"
  labels:
    # app: "{{ explore_app_name }}"
    name: "{{ explore_name }}-pg"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: "{{ explore_name }}-pg"
      # app: "{{ explore_app_name }}"
      # task: "{{ explore_name }}-task"
  strategy:
    type: recreate
  template:
    metadata:
      labels:
        name: "{{ explore_name }}-pg"
        # app: "{{ explore_app_name }}"
        # task: "{{ explore_name }}-task"
    spec:
      terminationGracePeriodSeconds: 5
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: "{{ explore_name }}-pg-pvc"
      containers:
        - name: "{{ explore_name }}-pg"
          image: "postgres:15.2"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 5432
              protocol: TCP
          resources:
            requests:
              memory: 1000m
              cpu: 1000m
            limits:
              memory: 2000m
              cpu: 1000m

          env:
            {{ pg_env | to_yaml() | indent(width=12) }}
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-data
