apiVersion: v1
kind: Service
metadata:
  name: "{{ explore_name }}-svc"
  namespace: "{{ explore_namespace }}"
  labels:
    name: "{{ explore_name }}-svc"
    # app: "{{ explore_app_name }}"
spec:
  type: ClusterIP
  selector:
    name: "{{ explore_name }}"
  ports:
    - name: http
      protocol: TCP
      port: 8443
      targetPort: 8443
    # task: "{{ explore_name }}"
---
kind: Service
apiVersion: v1
metadata:
  name: "{{ explore_name }}-nodeport"
  namespace: "{{ explore_namespace }}"
  labels:
    name: "{{ explore_name }}-nodeport"
    # app: "{{ explore_app_name }}"
spec:
  type: NodePort
  selector:
    name: "{{ explore_name }}"
  ports:
    - protocol: TCP
      port: 8443
      targetPort: 8443
      nodePort: {{ explore_nodeport }}