apiVersion: v1
# Kind for volume chain
kind: PersistentVolume
metadata:
  # Name the persistent chain
  name: "{{ explore_name }}-pv"
  namespace: "{{ explore_namespace }}"
  # Labels for identifying PV
  labels:
    type: local
    app: "{{ explore_app_name }}"
spec:
  storageClassName: manual
  capacity:
    # PV Storage capacity
    storage: 1Gi
  # A container can write and read from volumes to multiple pods
  accessModes:
    - ReadWriteMany
  # Specify the path to persistent the volumes  
  hostPath:
    path: "{{ deployment_data_path }}"
---
apiVersion: v1
# define a resource for volume chain
kind: PersistentVolumeClaim
metadata:
  # Name the volume chain
  name: "{{ explore_name }}-pvc"
  namespace: "{{ explore_namespace }}"
spec:
  storageClassName: manual
  accessModes:
    # Allow ReadWrite to multiple pods
    - ReadWriteMany
  # PVC requesting resources
  resources:
    requests:
      # the PVC storage
      storage: 1Gi