apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ explore_name }}"
  namespace: "{{ explore_namespace }}"
  labels:
    # app: "{{ explore_app_name }}"
    name: "{{ explore_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: "{{ explore_name }}"
      # app: "{{ explore_app_name }}"
      # task: "{{ explore_name }}-task"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: "{{ explore_name }}"
        # app: "{{ explore_app_name }}"
        # task: "{{ explore_name }}-task"
    spec:
      terminationGracePeriodSeconds: 5
      volumes:
        - name: certs
          hostPath:
            # directory location on host
            path: "{{ deployment_cert_path }}"
            # this field is optional
            type: Directory
        - name: data
          persistentVolumeClaim:
            claimName: "{{ explore_name }}-pvc"
          # hostPath:
          #   # directory location on host
          #   path: "{{ deployment_data_path }}"
          #   # this field is optional
          #   type: Directory
      containers:
        - name: "{{ explore_name }}-proxy"
          image: "{{ explore_deploy_proxy_image }}"
          # image: "busybox"
          # command: ["sleep", "60000"]
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /certs/
              name: certs
            - mountPath: /data/
              name: data
          ports:
            - name: httpproxy
              containerPort: 8443
              protocol: TCP
        - name: "{{ explore_name }}-web"
          image: "{{ explore_deploy_image }}"
          imagePullPolicy: Always
          {#
          # For debugging
          # image: "busybox"
          # command: ["sleep", "60000"]
          -#}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          {#
          TODO whenever this is enabled it stops deployment
          as it says it cannot write the api token file due
          to lack of space it suspect it due to permissions
          resources:
            requests:
              memory: 1000m
              cpu: 1000m
            limits:
              memory: 2000m
              cpu: 1000m
          -#}
          env:  
            - name: TEST_TEXT # Notice that the case is different here
                                        # from the key name in the ConfigMap.
              valueFrom:
                configMapKeyRef:
                  name: "{{ explore_name }}-cm"           # The ConfigMap this value comes from.
                  key: test_text # The key to fetch.
            {{ env | to_yaml() | indent(width=12) }}
          volumeMounts:
            - mountPath: /certs/
              name: certs
            - mountPath: /data/
              name: data
