apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ explore_name}}-ingress"
  namespace: "{{ explore_namespace }}"
  annotations:
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-max-body-size
    nginx.ingress.kubernetes.io/proxy-body-size: 1000m
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-timeouts
    nginx.ingress.kubernetes.io/proxy-send-timeout: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "10"
spec:
  tls:
  - hosts:
      - "{{ fqdn }}"
    secretName: secret-{{ fqdn }}
  rules:
  - host: "{{ fqdn }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "{{ explore_name}}-svc"
            port:
              # must match service port
              number: 8443