apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ explore_name }}-cm"
  namespace: "{{ explore_namespace }}"
data:
  {% for e in env -%}
  {{ e.name }}: "{{ e.value }}"
  {% endfor -%}
  {# {{ env | to_yaml() | indent(width=2) }} -#}
  # property-like keys; each key maps to a simple value
  testkey: "3"
  test_text: "user-interface.properties"

  # file-like keys
  user-interface.properties: |
    color.good=purple
    color.bad=yellow
    allow.textmode=true  