
<ul class="nav navbar-nav navbar-right">
{% if request.identity_context_data.authenticated %}
    <li class="nav-item">
        <a href="{% url 'social:begin' 'provider-name' %}">Generic Login</a>
        <a href="{% url 'social:begin' 'azuread' %}">Login Azure</a>
        <a href="{% url 'social:begin' 'google' %}">Login with google</a>
    </li>
{% else %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
            {% csrf_token %}
            <button class="btn btn-warning" type="submit">Logout</button>
        </form>
    </li>
    {% else %}
    <li class="nav-item">
    </li>
    {% endif %}
{% endif %}
</ul>