{# {% extends 'django_bootstrap5/bootstrap5.html' %} #}

{# Load the tag library #}
{% load django_bootstrap5 %}

<html>
<head>
  <title>{% block bootstrap5_title %}{% block title %}{% endblock %}{% endblock %}</title>

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Archi Helpers and Processors</a>
      <!-- <span class="navbar-text">{% block banner_text %}{% endblock %}</span> -->
      <div class="btn-group ml-auto">
          {% include "./nav-bar-items.html" %}
      </div>
      {#
      <div class="btn-group ml-auto dropleft">
          {% include "./auth-bar-items.html" %}
      </div>
      #}
  </nav>
  {% block content %}
  {% endblock %}
</div>
</body>
</html>