
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'upload' %}">Upload</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'admin:index' %}">Admin</a>
    </li>
{% if request.identity_context_data.authenticated %}
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'index' %}">Index</a>
    </li>
{% else %}

{% endif %}
    <li class="nav-item">
        <a class="nav-link link-light disabled" href="{% url 'index' %}">0.1.0</a>
    </li>
</ul>