{% extends './layout.html' %}
{% load django_bootstrap5 %}

{% block title %}Play space Open API Prompt {% endblock %}

{% block content %}
Main Index

<div class="container">
<!-- <form enctype="multipart/form-data" method="post" action="upload.html">
    {% csrf_token %}
    <div class="form-group row">
        {{ uploadform.as_p }}
    </div>
    <div class="row">
        <input type="submit" value="Send form">
    </div>
</form> -->

<div class="container">
<div>Two main options for the use of this form:</div>
<ul>
    <li>If given the export csv's from archi e.g. x_elements.csv, x_relations.csv, x_properties.csv generate the node props format with links</li>
    <li>If given the Node property file and a link file as X_nodes.csv, X_links.csv and generate the importable csv files</li>
    <li>If given the Archi model file as either a .archimate or .zip it can generate the importable node property and link files</li>
</ul>
<div>Both of these wrap the intermediary json file into the zip archive which is then available to download.</div>
<div>This allow the bulk adjustment of the specialisation and properties for elements all together.</div>
</div>
<form action="{% url 'upload' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form uploadform %}
    
    {% bootstrap_button button_type="submit" content="Upload Model" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}

</form>

{{ results }}

</div>


{{data}}

<br/>
<br/>
Conversion csv:<br/>
Return code {{ data.results.csv.returncode }}<br/>
<br/>
Console output (stdout):<br/>
{% for line in data.results.csv.stdoutlines %}
    {{ line }}<br/>
{% endfor %}

Console output (stderr):<br/>
{% for line in data.results.csv.stderrlines %}
    {{ line }}<br/>
{% endfor %}

<br/>
Conversion report:<br/>
Return code {{ data.results.report.returncode }}<br/>
<br/>
Console output (stdout):<br/>
{% for line in data.results.report.stdoutlines %}
    {{ line }}<br/>
{% endfor %}

Console output (stderr):<br/>
{% for line in data.results.report.stderrlines %}
    {{ line }}<br/>
{% endfor %}

{% endblock %}